{% extends "layout.html" %}

{% block level %}
<script>
var level = {{ level }};
</script>
{% endblock %}

{% block title %}
    The path finding game
{% endblock %}

{% block main %}

	<h3 align="center"> Welcome to the path finding game.</h3>

  <!-- <h3>You can drag or click on the points to add them to the path.</h3> -->
	<div class="main" >
        <p> The goal is to connect all the blue points starting from and ending at the rotating square, as quickly as you can. <br/> Click the square to start and finish.</p>
		    <canvas id="dubasCanvas" align="center" resize></canvas>
        <p class="nav-item"><a class="nav-link" href="/back">PLAY AGAIN</a> <a class="nav-link" href="/scores">SCORES</a></p>
	</div>


{% endblock %}
