{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h3 align="center"> The path finding game </h3>
    <p>The path finding game has been designed by scientists of the <a href="http://ai.ftn.uns.ac.rs">KOI@FTS</a>,
      as a means of collecting the data we need to advance our research in the domain of machine learning and transportation.
      Specifically, we aim to use the data collected to teach computers to solve the <a href="https://en.wikipedia.org/wiki/Travelling_salesman_problem">Travelling Salesman Problem</a> in a human like way.</p>
    <p>We will maintain the anonymity of our players at all times and never share the contact details provided to us with anyone.</p>

    <p>Thank you for taking the time to help us out! We hope you will enjoy our little game.</p>

    <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="/back"><span class="red">Back to the path finding game</span></a></li>
    </ul>
{% endblock %}
