{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>

        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password"/>
        </div>

        <div class="form-group">
          <select class="form-control" id="sex" name="sex" placeholder="Are you male or female?">
              <option value="4">Prefer not to say</option>
              <option value="3" selected>Are you male or female?</option>
              <option value="2">Female</option>
              <option value="1">Male</option>
          </select>
        </div>

        <div class="form-group">
            <input class="form-control" name="age" placeholder="Your age" type="number" size="2" min="10" />
        </div>

        <div class="form-group">
          <input class="form-control" type="checkbox" name="acknowledge-terms"/> Please check this box to indicate that you allow the data collected to be used for research, while preserving your anonymity at all times.
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
