{% extends "layout.html" %}

{% block title %}
    index page
{% endblock %}

{% block main %}

<html>
<head>

</head>
<body>
	<h3 align="center"> TOP SCORES!
		</h3>

  <!-- <h3>You can drag or click on the points to add them to the path.</h3> -->



 <main class="container p-5">

 <table class="table table-striped" style="width:100%">

      <tr>
        <th>Place</th>
        <th>User</th>
        <th>Distance</th>
        <th>Time</th>
        <th>Score</th>
      </tr>


    {% for row in scores %}

            <tr>
               <td> {{ loop.index }} </td>
               <td> {{ row.user.username }} </td>
               <td> {{ '%0.2f' % row.shortestpathlength|float  }} </td>
               <td> {{ '%0.2f' % row.besttime|float }} </td>
               <td> {{ row.score }} </td>
            </tr>

    {% endfor %}
</table>

<ul class="navbar-nav ml-auto mt-2">

      <li class="nav-item"><a class="nav-link" href="/back"><span class="red">Back to the path finding game</span></a></li>

</ul>








{% endblock %}
